# Osmosis Exploit Analysis

Breakdown of exploiting done by users and to what extent, i.e. extra assets taken from pools.

Goal is to Calculate:

- Count of Exit & Join Transactions (In Total, By Wallet)

- Number of Unique Wallets w/ Join/Exit transactions.

- Wallets w/ Joins but no exits (Count of Assets & USD Value Impacted by Exploit)

- Wallets w/ Joins & Exits (Count of Assets & USD Value Impacted by Exploit)

- Count of Assets & USD Value of Assets IBC'd out of Osmosis

## Imports and Preliminaries

In [1]:
import requests
import json

import numpy as np
import pandas as pd
import pymysql

In [2]:
halt_prices = [{"symbol": "ION", "denom": "uion", "price": 901.2415907289011}
,{"symbol": "ATOM", "denom": "ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEADA9CA97EA622B25F41E5EB2", "price": 9.419861882554208}
,{"symbol": "AKT", "denom": "ibc/1480B8FD20AD5FCAE81EA87584D269547DD4D436843C1D20F15E00EB64743EF4", "price": 0.34922783600524077}
,{"symbol": "XPRT", "denom": "ibc/A0CC0CF735BFB30E730C70019D4218A1244FF383503FF7579C9201AB93CA9293", "price": 1.381620130778327}
,{"symbol": "IRIS", "denom": "ibc/7C4D60AA95E5A7558B0A364860979CA34B7FF8AAF255B87AF9E879374470CEC0", "price": 0.0244467298543281}
,{"symbol": "DVPN", "denom": "ibc/9712DBB13B9631EDFA9BF61B55F1B2D290B2ADB67E3A4EB3A875F3B6081B3B84", "price": 0.0014306305334162999}
,{"symbol": "REGEN", "denom": "ibc/1DCC8A6CB5689018431323953344A9F6CC4D0BFB261E88C9F7777372C10CD076", "price": 0.32060717495837876}
,{"symbol": "CRO", "denom": "ibc/E6931F78057F7CC5DA0FD6CEF82FF39373A6E0452BF1FD76910B93292CF356C1", "price": 0.17790777510495}
,{"symbol": "IOV", "denom": "ibc/52B1AA623B34EB78FD767CEA69E8D7FA6C9CFE1FBF49C5406268FD325E2CC2AC", "price": 0.0276612683659155}
,{"symbol": "TICK", "denom": "ibc/655BCEF3CDEBE32863FF281DBBE3B06160339E9897DC9C9C9821932A5F8BA6F8", "price": 0.4027368348934557}
,{"symbol": "EEUR", "denom": "ibc/5973C068568365FFF40DEDCF1A1CB7582B6116B731CD31A12231AE25E20B871F", "price": 1.0136578340008713}
,{"symbol": "NGM", "denom": "ibc/1DC495FCEFDA068A3820F903EDBD78B942FBD204D7E93D3BA2B432E9669D1A59", "price": 0.6919927498542117}
,{"symbol": "BCNA", "denom": "ibc/D805F1DA50D31B96E4282C1D4181EDDFB1A44A598BFF5666F4B43E4B8BEA95A5", "price": 0.014288225525700901}
,{"symbol": "LUNA", "denom": "ibc/0EF15DF2F02480ADE0BB6E85D9EBB5DAEA2836D3860E9F97F9AADE4F57A31AA0", "price": 4.86041604111e-05}
,{"symbol": "LIKE", "denom": "ibc/9989AD6CCA39D1131523DB0617B50F6442081162294B4795E26746292467B525", "price": 0.0024598378860000002}
,{"symbol": "UST", "denom": "ibc/BE1BB42D4BE3C30D50B68D7C41DB4DFCE9678E8EF8C539F6E6A9345048894FCC", "price": 0.0086640074588253}
,{"symbol": "JUNO", "denom": "ibc/46B44899322F3CD854D2D46DEEF881958467CDD4B3B10086DA49296BBED94BED", "price": 3.7344029425363066}
,{"symbol": "IXO", "denom": "ibc/F3FF7A84A73B62921538642F9797C423D2B4C4ACB3C7FCFFCE7F12AA69909C4B", "price": 0.1074952398695577}
,{"symbol": "XKI", "denom": "ibc/B547DC9B897E7C3AA5B824696110B8E3D2C31E3ED3F02FF363DCBAD82457E07E", "price": 0.0786558545103051}
,{"symbol": "BTSG", "denom": "ibc/4E5444C35610CC76FC94E7F7886B93121175C28262DDFDDE6F84E82BF2425452", "price": 0.0166805855860554}
,{"symbol": "BOOT", "denom": "ibc/FE2CD1E6828EC0FAB8AF39BAC45BC25B965BA67CCBC50C13A14BD610B0D1E2C4", "price": 2.2282665111957e-08}
,{"symbol": "SCRT", "denom": "ibc/0954E1C28EB7AF5B72D24F3BC2B47BBB2FDF91BDDFD57B74B99E133AED40972A", "price": 1.303759474770078}
,{"symbol": "MED", "denom": "ibc/3BCCC93AD5DF58D11A6F8A05FA8BC801CBA0BA61A981F57E91B8B598BF8061CB", "price": 0.028320572005851297}
,{"symbol": "CMDX", "denom": "ibc/EA3E1640F9B1532AB129A571203A0B9F789A7F14BB66E350DCBFA18E1A1931F0", "price": 0.3443737484561466}
,{"symbol": "CHEQ", "denom": "ibc/7A08C6F11EF0F59EB841B9F788A87EC9F2361C7D9703157EC13D940DC53031FA", "price": 0.039513941314199996}
,{"symbol": "STARS", "denom": "ibc/987C17B11ABC2B20019178ACE62929FE9840202CE79498E29FE8E5CB02B7C0A4", "price": 0.032098245677113196}
,{"symbol": "LUM", "denom": "ibc/8A34AF0C1943FD0DFCDE9ADBF0B2C9959C45E87E6088EA2FC6ADACD59261B8A2", "price": 0.0013626160158684}
,{"symbol": "VDL", "denom": "ibc/E7B35499CFBEB0FF5778127ABA4FB2C4B79A6B8D3D831D4379C4048C238796BD", "price": 0.0388842787207905}
,{"symbol": "HUAHUA", "denom": "ibc/B9E0A1A524E98BB407D3CED8720EFEFD186002F90C1B1B7964811DD0CCC12228", "price": 4.69158171348e-05}
,{"symbol": "DSM", "denom": "ibc/EA4C0A9F72E2CEDF10D0E7A9A6A22954DB3444910DB5BE980DF59B05A46DAD1C", "price": 0.020904272590374296}
,{"symbol": "DIG", "denom": "ibc/307E5C96C8F60D1CBEE269A9A86C0834E1DB06F2B3788AE4F716EDB97A48B97D", "price": 0.0003890904481587}
,{"symbol": "SOMM", "denom": "ibc/9BBA9A1C257E971E38C1422780CE6F0B0686F0A3085E2D61118D904BFE0F5F5E", "price": 0.481296017774841}
,{"symbol": "DARC", "denom": "ibc/346786EA82F41FE55FAD14BF69AD8BA9B36985406E43F3CB23E6C45A285A9593", "price": 0.0027962542601544}
,{"symbol": "BAND", "denom": "ibc/F867AE2112EFE646EC71A25CD2DFABB8927126AC1E19F1BBF0FF693A4ECA05DE", "price": 1.6658623706165938}
,{"symbol": "NETA", "denom": "ibc/297C64CC42B5A8D8F82FE2EBE208A6FE8F94B86037FA28C4529A23701C228F7A", "price": 62.24130405901527}
,{"symbol": "UMEE", "denom": "ibc/67795E528DF67C5606FC20F824EA39A6EF55BA133F4DC79C90A8C47A0901E17C", "price": 0.0303993250979034}
,{"symbol": "GRAV", "denom": "ibc/E97634A40119F1898989C2A23224ED83FDD0A57EA46B3A094E287288D1672B44", "price": 0.0121737712410579}
,{"symbol": "DEC", "denom": "ibc/9BCB27203424535B6230D594553F1659C77EC173E36D9CF4759E7186EE747E84", "price": 0.0148596346855374}
,{"symbol": "SWTH", "denom": "ibc/8FEFAE6AECF6E2A255585617F781F35A8D5709A545A804482A261C0C9548A9D3", "price": 0.00513882496548}
,{"symbol": "MARBLE", "denom": "ibc/F6B691D5F7126579DDC87357B09D653B47FDCE0A3383FF33C8D8B544FE29A8A6", "price": 5.896002397261752}
,{"symbol": "ROWAN", "denom": "ibc/8318FD63C42203D16DDCAF49FE10E8590669B3219A3E87676AC9DA50722687FB", "price": 0.01133647787403854}
,{"symbol": "CRBRUS", "denom": "ibc/41999DF04D9441DAC0DF5D8291DF4333FBCBA810FFD63FDCE34FDF41EF37B6F7", "price": 9.2914785603e-06}
,{"symbol": "RAC", "denom": "ibc/6BDB4C8CCD45033F9604E4B93ED395008A753E01EECD6992E7D1EA23D9D3B788", "price": 0.0747209077494774}
,{"symbol": "HOPE", "denom": "ibc/C2A2E9CA95DDD4828B75124B5E27B8401C7D8493BC48353D418CBFC04565899B", "price": 6.920993637006235}
,{"symbol": "axlUSDC", "denom": "ibc/D189335C6E4A68B513C10AB227BF1C1D38C746766278BA3EEB4FB14124F1D858", "price": 1.0000000090199457}
,{"symbol": "axlUSDT", "denom": "ibc/8242AD24008032E457D2E12D46588FD39FB54FB29680C6C7663D296B383C37C4", "price": 0.94426468}
,{"symbol": "PSTAKE", "denom": "ibc/8061A06D3BD4D52C4A28FFECF7150D370393AF0BA661C3776C54FF32836C3961", "price": 0.2072535267442587}
,{"symbol": "axlWBTC", "denom": "ibc/D1542AA8762DB13087D8364F3EA6509FD6F009A34F00426AF9E4F9FA85CBBF1F", "price": 31016.743795684255}
,{"symbol": "gUSDC", "denom": "ibc/9F9B07EF9AD291167CF5700628145DE1DEB777C2CFC7907553B24446515F6D0E", "price": 1.0078654524712436}
,{"symbol": "RAW", "denom": "ibc/00B6E60AD3D65CBEF5579AC8AF609527C0B57535B6E32D96C80A735344FD9DCC", "price": 0.0276260703219831}
,{"symbol": "MNTL", "denom": "ibc/CBA34207E969623D95D057D9B11B0C8B32B89A71F170577D982FDDE623813FFC", "price": 0.09402846602480519}
,{"symbol": "FET", "denom": "ibc/5D1F516200EE8C6B2354102143B78A2DEDA25EDE771AC0F8DC3C1837C8FD4447", "price": 0.15429126801601742}
,{"symbol": "axlDAI", "denom": "ibc/0CD3A0285E1341859B5E86B6AB7682F023D03E97607CCC1DC95706411D866DF7", "price": 0.9950205268899415}
,{"symbol": "HASH", "denom": "ibc/CE5BFF1D9BADA03BB5CCA5F56939392A761B53A10FBD03B37506669C3218D3B2", "price": 0.031977892518}
,{"symbol": "axlFRAX", "denom": "ibc/0E43EDE2E2A3AFA36D0CD38BDDC0B49FECA64FA426A82E102F304E430ECF46EE", "price": 0.8199521681810243}
,{"symbol": "axlWETH", "denom": "ibc/EA1D43981D5C9A1C4AAEA9C23BB1D4FA126BA9BC7020A25E0AE4AA841EA25DC5", "price": 1822.4890264165895}
,{"symbol": "gDAI", "denom": "ibc/F292A17CF920E3462C816CBE6B042E779F676CAB59096904C4C1C966413E3DF5", "price": 0.9918005785267493}
,{"symbol": "gWETH", "denom": "ibc/65381C5F3FD21442283D56925E62EA524DED8B6927F0FF94E21E0020954C40B5", "price": 1775.7727319807198}
,{"symbol": "EVMOS", "denom": "ibc/6AE98883D4D5D5FF9E50D7130F1305DA2FFA0C652D1DD9C123657C6B4EB2DF8A", "price": 1.819049281393931}
,{"symbol": "OSMO", "denom": "uosmo", "price": 1.11810813}]
halt_price_df = pd.DataFrame(halt_prices)

In [3]:
with open('data/tokens_map.json', 'r') as token_file:
    token_map = json.load(token_file)
    token_map_df = pd.DataFrame(token_map)

## Transaction Processing

In [4]:
# Source: https://gist.github.com/joeabbey/74e4d5caf92e31054b7fc0639b868ef1
raw_transactions = pd.read_csv("data/joins_exits.csv", skipinitialspace=True)
pool_transactions = raw_transactions.loc[(raw_transactions.height >=4707300) & (raw_transactions.code == 0)]
pool_transactions.columns

Index(['height', 'code', 'sender', 'type', 'pool_id', 'shares',
       'token_1_amount', 'token_1_denom', 'token_2_amount', 'token_2_denom'],
      dtype='object')

In [5]:
valid_txs = []
for idx, grouped_txs in pool_transactions.sort_values(by=['height']).groupby(['sender', 'pool_id']):
    sender, pool_id = idx
    shares_joined = 0.0
    for _, tx_info in grouped_txs.iterrows():
        # ToDo: Take 64 transactions where below condition is true and normalize them
        # float(tx_info.shares) >= shares_joined:
        if shares_joined and tx_info.type == 'Exit':
            shares_joined -= float(tx_info.shares)
            valid_txs.append(tx_info.values)
        elif tx_info.type == 'Join':
            shares_joined += float(tx_info.shares)
            valid_txs.append(tx_info.values)
valid_transactions = pd.DataFrame(valid_txs, columns=pool_transactions.columns.values)

## Count of Join/Exit Transactions

In [6]:
valid_transactions.groupby('type').size().reset_index(name='number_of_txs')

   type  number_of_txs
0  Exit            277
1  Join           1972

In [7]:
(valid_transactions.groupby(['type', 'sender'])
                   .size()
                   .reset_index(name='number_of_txs')
                   .sort_values(by=['number_of_txs'], ascending=False))

      type                                       sender  number_of_txs
323   Join  osmo18qx59wy8s3ytax3e0akna934e86mw776vlzjtq             77
4     Exit  osmo18qx59wy8s3ytax3e0akna934e86mw776vlzjtq             77
1170  Join  osmo1yglld3aary7lnrrn2dz7la84kmnmen4kpsxzay             43
20    Exit  osmo1yglld3aary7lnrrn2dz7la84kmnmen4kpsxzay             42
376   Join  osmo1adtxg4klr2z65zqnxwxv66k5wel7mljutaq6mt             29
...    ...                                          ...            ...
474   Join  osmo1dlwzczuey4wfue5xqk7mt4ygrzk9krkszhnlgl              1
477   Join  osmo1dmepl046vkmqsxly2qcm9sfnmnhlz6w9lvfxus              1
478   Join  osmo1dncfdqzjw0j2vnak3rzhsru9z7s0f2wclty83c              1
479   Join  osmo1dpsue447gd8jgmxaajjvy4uqwxyvlm4yufzvje              1
606   Join  osmo1gqeq49wq0eefzlxp8gctuvmc7apauhayzhdxs8              1

[1212 rows x 3 columns]

## Number of Unique Addresses

- Just Join Txs
- Both Join and Exit Txs

In [8]:
exit_tx_addresses = valid_transactions.loc[valid_transactions.type == 'Exit'].sender.unique()
join_only_users = valid_transactions.loc[
    (valid_transactions.type == 'Join') &
    (~np.isin(valid_transactions.sender, exit_tx_addresses))
].sender.unique()

join_only_users.shape[0]

1168

In [9]:
potentially_malicious_users = valid_transactions.loc[~(np.isin(valid_transactions.sender, join_only_users))].sender.unique()
potentially_malicious_users.shape[0]

22

## Wallet Lists

- Just Join Txs

- Both Join and Exit Txs

In [10]:
join_only_users

array(['osmo103v3wy2qccy47jxvnsnxvj3r2lhxcfavn50n9a',
       'osmo103w2uwpdf9p708c83nkyd0ys6fgqt94tdvjtgn',
       'osmo104gevychrp9gvnyfvewpaaql7f4mp694zkcecm', ...,
       'osmo1zulgguv8hfwvwd5kqd6res3a4zuv3jsgz2yhn7',
       'osmo1zzff42ula9c53v798hj6eu0e9s8y8rdgtuftcw',
       'osmo1zzgc9jukqxppns6lu042a87kej5af6f29shel2'], dtype=object)

In [11]:
potentially_malicious_users

array(['osmo10rgny3xd5fvg02wnmy4h9zuktnfthvrlwdjwf5',
       'osmo10t26acjmemggsahq6uvyucm4tj3z0mhz23ljh2',
       'osmo127cz3qd25qefq2d3l8zdl9xqzatskjcq4n5eg2',
       'osmo16h0yyryfjmmhgj3ct6ndl7gcy4r3krf0gfrzky',
       'osmo18qx59wy8s3ytax3e0akna934e86mw776vlzjtq',
       'osmo1c5txl47ea73x9g535lefzs8u6engjrss4tr60p',
       'osmo1csl24xa338980yckumj6k9kejyttshaaktn9tv',
       'osmo1cw73elmtjvzg4gjdy9yv7hu6nnfl8m7z4ah5wl',
       'osmo1d8etkcl43lp9nhdsflmm9y3krl7dutwj2493rh',
       'osmo1ea6yv55jzerkeqqz9c36t6wyklh8qpqs0da0n6',
       'osmo1hq8tlgq0kqz9e56532zghdhz7g8gtjymdltqer',
       'osmo1jdh7eeyaar0tyask0r6w2228uh5wrd0pxtcfwr',
       'osmo1jfa3vw3r50vyww2qwklxqn6qu06d3uf7vc63qm',
       'osmo1jfxcl8ja3nnfjduqemptknz2j6nk6502zp3rte',
       'osmo1pfpk6rsgc0x7g8q7y0yre86ej2enr8rhv3p8dq',
       'osmo1tg70tuzekpd376dpqr68yx5a7r709w6x8jtxha',
       'osmo1ugg4nh0vgmqwvkvkjaw745hh70j5aae6y7m6ux',
       'osmo1ux20lcw7et2j8kl8gfdep78lacew4dqqjp5dvp',
       'osmo1v44mqmhvtn8cw373xv0hw6npddccnr70lqsk9s',
       'osmo1wfw3cdg5uvt0r5lawxr300lpthj48wx23f9y2q',
       'osmo1yglld3aary7lnrrn2dz7la84kmnmen4kpsxzay',
       'osmo1z98eg2ztdp2glyla62629nrlvczg8s7f8sgpm5'], dtype=object)

## Assets in Pools Impacted by Exploit (Only Joined)

Note these assets may or may not be bonded. That hasn't been verified yet. Leaving that part to Geo from Dexmos.

In [12]:
join_txs = valid_transactions.loc[np.isin(valid_transactions.sender, join_only_users)]
join_first_token = join_txs.drop(columns=['token_2_denom', 'token_2_amount']).rename(columns={'token_1_denom':'denom', 'token_1_amount': 'amount'})
join_second_token = join_txs.drop(columns=['token_1_denom', 'token_1_amount']).rename(columns={'token_2_denom':'denom', 'token_2_amount': 'amount'})

flat_join_txs = pd.concat([join_first_token, join_second_token])
flat_join_txs.amount = flat_join_txs.amount.astype(float)
flat_join_txs.shares = flat_join_txs.shares.astype(float, copy=False)

In [13]:
named_join_txs = token_map_df.merge(flat_join_txs)
named_join_txs['amount'] = named_join_txs.amount/(10**named_join_txs.exponent)
named_join_txs = named_join_txs.merge(halt_price_df)
named_join_txs['value'] = named_join_txs.price * named_join_txs.amount
cleaned_join_df = named_join_txs.drop(columns=['denom', 'exponent'])

In [14]:
agg_join_value = cleaned_join_df['value'].sum()
agg_join_value

180765.34513924943

In [15]:
agg_join_sender_tokens = (cleaned_join_df.groupby(['sender', 'symbol'])[['amount', 'value']]
                                         .sum()
                                         .reset_index()
                                         .sort_values(by=['value'], ascending=False))

agg_join_sender_tokens.to_csv("data/agg_join_sender_tokens.csv", index=False)
agg_join_sender_tokens

,sender,symbol,amount,value
1205,osmo1ew02nl40jqspvfe23xmdc4xmqvnelz3929nrrx,OSMO,14092.243250,15756.651748
1204,osmo1ew02nl40jqspvfe23xmdc4xmqvnelz3929nrrx,MNTL,164617.631861,15478.743405
1778,osmo1lvxcql4c9yeec8spuaspeq5j5slnd27g6zdh0a,axlWETH,6.309076,11498.221360
1777,osmo1lvxcql4c9yeec8spuaspeq5j5slnd27g6zdh0a,OSMO,9982.212293,11161.192720
1564,osmo1jh0urskmdrrhfgm53d0ddnd506stu63w95d3l6,ION,10.299381,9282.230516
...,...,...,...,...
1095,osmo1dvslrm9zzkdn6cgn4dyve0vfgent2v5ujn3sd9,DSM,0.002331,0.000049
2448,osmo1vhdwjygytsd5l8d2fk46awka6usltxe3l0hmcm,DIG,0.059118,0.000023
2752,osmo1zl9t43fvpxjatedsqvusp4nedh6qqvcqj0823c,JUNO,0.000001,0.000004
2753,osmo1zl9t43fvpxjatedsqvusp4nedh6qqvcqj0823c,UST,0.000411,0.000004
1841,osmo1mvccc0xt6g8lm5stldfzmjfdg4vhq9rd90df7f,GRAV,0.000094,0.000001

In [16]:
agg_join_senders = (cleaned_join_df.groupby(['sender'])[['value']]
                                   .sum()
                                   .reset_index()
                                   .sort_values(by=['value'], ascending=False))
agg_join_senders.to_csv("data/agg_join_senders.csv", index=False)
agg_join_senders

                                           sender         value
495   osmo1ew02nl40jqspvfe23xmdc4xmqvnelz3929nrrx  31235.395152
733   osmo1lvxcql4c9yeec8spuaspeq5j5slnd27g6zdh0a  22659.414081
791   osmo1nl09n46sfnk0z8jk33mvu9u6lz5ymqj4hmj84x  13756.853823
647   osmo1jh0urskmdrrhfgm53d0ddnd506stu63w95d3l6  11609.317352
582   osmo1gw6xkw2pvxtt3ea83gs7gdhv7zvhzmk9yyl3xk   8562.143041
...                                           ...           ...
249   osmo178swfpjp3qwes3wj8ffzqla9m56ewzxm0k49xk      0.000998
762   osmo1mvccc0xt6g8lm5stldfzmjfdg4vhq9rd90df7f      0.000690
883   osmo1r0gtpf5s4v3ryujwza96qe2v606cgywfxrsjya      0.000383
768   osmo1mxpjsl4gppu3al5c0hm5ttm8hf9zpdhctafmxy      0.000297
1156  osmo1zl9t43fvpxjatedsqvusp4nedh6qqvcqj0823c      0.000007

[1168 rows x 2 columns]

In [17]:
agg_join_tokens = (cleaned_join_df.groupby(['symbol'])[['amount', 'value']]
                                  .sum()
                                  .reset_index()
                                  .sort_values(by=['value'], ascending=False))
agg_join_tokens.to_csv("data/agg_join_tokens.csv", index=False)
agg_join_tokens

     symbol        amount         value
27     OSMO  7.113284e+04  79534.202420
43  axlWBTC  5.045495e-01  15649.481953
24     MNTL  1.662249e+05  15629.871855
44  axlWETH  8.343544e+00  15206.016875
42  axlUSDC  1.050697e+04  10506.974169
17      ION  1.034521e+01   9323.538023
1      ATOM  9.438959e+02   8891.369179
40     XPRT  4.726250e+03   6529.882249
41   axlDAI  4.042419e+03   4022.289613
12    EVMOS  1.977356e+03   3596.908690
6       CRO  1.946579e+04   3463.114616
20     JUNO  4.052799e+02   1513.478264
15     HOPE  2.116441e+02   1464.787552
0       AKT  2.289989e+03    799.727911
34    STARS  1.929006e+04    619.177123
4      CMDX  1.758202e+03    605.478677
36     UMEE  1.780051e+04    541.123375
28   PSTAKE  2.307135e+03    478.161878
11     EEUR  4.007740e+02    406.247733
25     NETA  6.294706e+00    391.790710
39      XKI  4.561393e+03    358.780233
31    ROWAN  2.966566e+04    336.304053
37      UST  3.561478e+04    308.566687
32     SCRT  1.507573e+02    196.551283
30    REGEN  6.063058e+02    194.386001
16   HUAHUA  1.089918e+06     51.134393
14     GRAV  4.060898e+03     49.436448
13      FET  1.510481e+02     23.305407
35     SWTH  4.267929e+03     21.932142
5    CRBRUS  1.341056e+06     12.460396
10     DVPN  7.761680e+03     11.104097
9       DSM  4.787260e+02     10.007418
29      RAC  7.616052e+01      5.690783
2      BTSG  2.292892e+02      3.824679
3      CHEQ  5.207776e+01      2.057797
23   MARBLE  3.470000e-01      2.045913
26      NGM  2.431500e+00      1.682580
19      IXO  1.127499e+01      1.212008
8       DIG  1.886547e+03      0.734038
45    gUSDC  2.360820e-01      0.237939
22      LUM  9.634959e+01      0.131287
38      VDL  1.491295e+00      0.057988
18     IRIS  1.742513e+00      0.042599
21     LIKE  6.865940e+00      0.016889
7      DARC  4.920165e+00      0.013758
33     SOMM  1.133600e-02      0.005456

In [18]:
agg_join_pools = (cleaned_join_df.groupby(['pool_id', 'symbol'])[['amount', 'value']]
                                 .sum()
                                 .reset_index()
                                 .sort_values(by=['value'], ascending=False))
agg_join_pools.to_csv("data/agg_join_pools.csv", index=False)
agg_join_pools

     pool_id   symbol         amount         value
110      690     OSMO   14227.435914  15907.811764
109      690     MNTL  166224.894603  15629.871855
115      712  axlWBTC       0.503852  15627.863283
113      704  axlWETH       8.331704  15184.439856
114      712     OSMO   13520.254377  15117.106339
..       ...      ...            ...           ...
86       637     OSMO       0.012185      0.013624
77       627     OSMO       0.004885      0.005462
78       627     SOMM       0.011336      0.005456
42       580     JUNO       0.000001      0.000004
43       580      UST       0.000411      0.000004

[130 rows x 4 columns]

## Assets withdrawn from Exploit (Join & Exit Txs)

In [19]:
potential_exploit_value = valid_transactions.loc[np.isin(valid_transactions.sender, potentially_malicious_users)]
first_token = potential_exploit_value.drop(columns=['token_2_denom', 'token_2_amount']).rename(columns={'token_1_denom':'denom', 'token_1_amount': 'amount'})
second_token = potential_exploit_value.drop(columns=['token_1_denom', 'token_1_amount']).rename(columns={'token_2_denom':'denom', 'token_2_amount': 'amount'})

flat_txs = pd.concat([first_token, second_token])
flat_txs.amount = flat_txs.amount.astype(float)
flat_txs.shares = flat_txs.shares.astype(float, copy=False)

In [20]:
named_txs = token_map_df.merge(flat_txs)
named_txs['amount'] = named_txs.amount/(10**named_txs.exponent)
named_txs = named_txs.merge(halt_price_df)
named_txs['value'] = named_txs.price * named_txs.amount
cleaned_df = named_txs.drop(columns=['denom', 'exponent'])

In [21]:
net_diff = cleaned_df.copy()
net_diff['amount'] = np.where(net_diff.type == 'Join', -1*net_diff.amount, net_diff.amount)
net_diff['value'] = np.where(net_diff.type == 'Join', -1*net_diff.value, net_diff.value)

In [22]:
agg_net_diff = (net_diff[['value']].sum())
agg_net_diff

value    5.038084e+06
dtype: float64

In [23]:
agg_net_diff_sender_tokens = (net_diff.groupby(['sender', 'symbol'])[['amount', 'value']]
                                      .sum()
                                      .reset_index()
                                      .sort_values(by=['value'], ascending=False))
agg_net_diff_sender_tokens.to_csv("data/agg_net_diff_sender_tokens.csv", index=False)
agg_net_diff_sender_tokens

,sender,symbol,amount,value
10,osmo18qx59wy8s3ytax3e0akna934e86mw776vlzjtq,OSMO,1.332914e+06,1.490342e+06
9,osmo18qx59wy8s3ytax3e0akna934e86mw776vlzjtq,ATOM,1.365926e+05,1.286683e+06
33,osmo1hq8tlgq0kqz9e56532zghdhz7g8gtjymdltqer,axlUSDC,7.851486e+05,7.851486e+05
32,osmo1hq8tlgq0kqz9e56532zghdhz7g8gtjymdltqer,OSMO,6.892692e+05,7.706775e+05
11,osmo18qx59wy8s3ytax3e0akna934e86mw776vlzjtq,axlWBTC,4.216830e+00,1.307923e+05
...,...,...,...,...
6,osmo16h0yyryfjmmhgj3ct6ndl7gcy4r3krf0gfrzky,ATOM,-2.749048e+00,-2.589565e+01
1,osmo10rgny3xd5fvg02wnmy4h9zuktnfthvrlwdjwf5,OSMO,-3.439947e+01,-3.846233e+01
0,osmo10rgny3xd5fvg02wnmy4h9zuktnfthvrlwdjwf5,ATOM,-4.354271e+00,-4.101663e+01
41,osmo1jfxcl8ja3nnfjduqemptknz2j6nk6502zp3rte,LUNA,-2.688360e+07,-1.306655e+03
42,osmo1jfxcl8ja3nnfjduqemptknz2j6nk6502zp3rte,OSMO,-1.188167e+03,-1.328499e+03

In [24]:
agg_net_diff_senders = (net_diff.groupby(['sender'])[['value']]
                                .sum()
                                .reset_index()
                                .sort_values(by=['value'], ascending=False))
agg_net_diff_senders.to_csv("data/agg_net_diff_senders.csv", index=False)
agg_net_diff_senders

                                         sender         value
4   osmo18qx59wy8s3ytax3e0akna934e86mw776vlzjtq  3.034353e+06
10  osmo1hq8tlgq0kqz9e56532zghdhz7g8gtjymdltqer  1.555826e+06
18  osmo1v44mqmhvtn8cw373xv0hw6npddccnr70lqsk9s  1.631672e+05
1   osmo10t26acjmemggsahq6uvyucm4tj3z0mhz23ljh2  1.190660e+05
20  osmo1yglld3aary7lnrrn2dz7la84kmnmen4kpsxzay  7.954177e+04
11  osmo1jdh7eeyaar0tyask0r6w2228uh5wrd0pxtcfwr  6.238636e+04
17  osmo1ux20lcw7et2j8kl8gfdep78lacew4dqqjp5dvp  2.464548e+04
15  osmo1tg70tuzekpd376dpqr68yx5a7r709w6x8jtxha  9.932608e+02
14  osmo1pfpk6rsgc0x7g8q7y0yre86ej2enr8rhv3p8dq  7.860224e+02
12  osmo1jfa3vw3r50vyww2qwklxqn6qu06d3uf7vc63qm  8.649217e+01
6   osmo1csl24xa338980yckumj6k9kejyttshaaktn9tv  5.511131e+00
21  osmo1z98eg2ztdp2glyla62629nrlvczg8s7f8sgpm5  4.885259e+00
8   osmo1d8etkcl43lp9nhdsflmm9y3krl7dutwj2493rh  4.593109e+00
9   osmo1ea6yv55jzerkeqqz9c36t6wyklh8qpqs0da0n6  2.080881e+00
19  osmo1wfw3cdg5uvt0r5lawxr300lpthj48wx23f9y2q  5.203561e-01
2   osmo127cz3qd25qefq2d3l8zdl9xqzatskjcq4n5eg2 -2.164196e-01
5   osmo1c5txl47ea73x9g535lefzs8u6engjrss4tr60p -1.516533e+00
7   osmo1cw73elmtjvzg4gjdy9yv7hu6nnfl8m7z4ah5wl -5.433145e+00
16  osmo1ugg4nh0vgmqwvkvkjaw745hh70j5aae6y7m6ux -1.387835e+01
3   osmo16h0yyryfjmmhgj3ct6ndl7gcy4r3krf0gfrzky -4.926972e+01
0   osmo10rgny3xd5fvg02wnmy4h9zuktnfthvrlwdjwf5 -7.947896e+01
13  osmo1jfxcl8ja3nnfjduqemptknz2j6nk6502zp3rte -2.635154e+03

In [25]:
agg_net_diff_tokens = (net_diff.groupby(['symbol'])[['amount', 'value']]
                               .sum()
                               .reset_index()
                               .sort_values(by=['value'], ascending=False))
agg_net_diff_tokens.to_csv("data/agg_net_diff_tokens.csv", index=False)
agg_net_diff_tokens

     symbol        amount         value
11     OSMO  2.220503e+06  2.482763e+06
0      ATOM  1.366605e+05  1.287323e+06
15  axlUSDC  8.983485e+05  8.983485e+05
16  axlWBTC  7.867308e+00  2.440183e+05
17  axlWETH  6.941911e+01  1.265156e+05
5     EVMOS  2.158885e+02  3.927118e+02
7       ION  2.883600e-02  2.598820e+01
2      BTSG  1.571676e+02  2.621648e+00
8      JUNO  5.483470e-01  2.047749e+00
12     SCRT  2.036900e-01  2.655628e-01
13     UMEE  3.874263e+00  1.177750e-01
14      UST -1.430000e-03 -1.238953e-05
1      BCNA -1.021401e+00 -1.459401e-02
3      CMDX -9.465900e-02 -3.259807e-02
6       FET -6.533300e-01 -1.008031e-01
4      DARC -1.215661e+02 -3.399297e-01
10     MNTL -4.250068e+00 -3.996274e-01
9      LUNA -2.688360e+07 -1.306655e+03

In [26]:
agg_net_diff_pools = (net_diff.groupby(['pool_id', 'symbol'])[['amount', 'value']]
                              .sum()
                              .reset_index()
                              .sort_values(by=['value'], ascending=False))
agg_net_diff_pools.to_csv("data/agg_net_diff_pools.csv", index=False)
agg_net_diff_pools

    pool_id   symbol        amount         value
0         1     ATOM  1.366606e+05  1.287324e+06
1         1     OSMO  1.112731e+06  1.244154e+06
30      678  axlUSDC  8.983485e+05  8.983485e+05
29      678     OSMO  7.894525e+05  8.826933e+05
38      712  axlWBTC  7.867308e+00  2.440183e+05
37      712     OSMO  2.106481e+05  2.355273e+05
36      704  axlWETH  6.941911e+01  1.265156e+05
35      704     OSMO  1.084945e+05  1.213086e+05
39      722    EVMOS  2.158885e+02  3.927118e+02
40      722     OSMO  3.504178e+02  3.918050e+02
2         2      ION  2.883600e-02  2.598820e+01
3         2     OSMO  5.809202e+00  6.495316e+00
18      597     OSMO  4.369219e+00  4.885259e+00
13      573     OSMO  2.373987e+00  2.654374e+00
12      573     BTSG  1.577998e+02  2.632192e+00
4       497     JUNO  6.309850e-01  2.356352e+00
5       497     OSMO  2.000483e+00  2.236756e+00
17      584     SCRT  2.036900e-01  2.655628e-01
16      584     OSMO  2.278790e-01  2.547934e-01
28      641     UMEE  3.874263e+00  1.177750e-01
27      641     OSMO  1.035550e-01  1.157857e-01
23      637     DARC  2.966450e+01  8.294948e-02
24      637     OSMO  7.343500e-02  8.210827e-02
22      610      UST -1.430000e-03 -1.238953e-05
21      610     CMDX -3.900000e-05 -1.343058e-05
15      574     BTSG -6.321100e-01 -1.054396e-02
14      574     ATOM -1.169000e-03 -1.101182e-02
11      572     BCNA -1.021401e+00 -1.459401e-02
10      572     ATOM -1.617000e-03 -1.523192e-02
20      600     CMDX -9.462000e-02 -3.258464e-02
19      600     ATOM -3.498000e-03 -3.295068e-02
32      681     OSMO -8.948300e-02 -1.000517e-01
31      681      FET -6.533300e-01 -1.008031e-01
7       498     JUNO -8.263800e-02 -3.086036e-01
6       498     ATOM -3.364400e-02 -3.169218e-01
33      690     MNTL -4.250068e+00 -3.996274e-01
34      690     OSMO -3.612590e-01 -4.039266e-01
26      638     DARC -1.512306e+02 -4.228792e-01
25      638     ATOM -4.692200e-02 -4.419988e-01
8       561     LUNA -2.688360e+07 -1.306655e+03
9       561     OSMO -1.188167e+03 -1.328499e+03

## Assets IBC'd out of Osmosis

Breakdown and count of assets transfered out of the blockchain. These assets cannot be controlled by the Osmosis Blockchain as they no longer reside there.

In [27]:
with open('data/dataset_ibc.json', 'r') as ibc_tx_file:
    ibc_data = json.load(ibc_tx_file)

In [28]:
ibc_txs = []
for tx in ibc_data:
    if int(tx['height']) < 4707300:
        continue
    for message in tx['tx']['body']['messages']:
        if message['sender'] not in pool_transactions.loc[pool_transactions.type == 'Exit'].sender.unique():
            continue
        ibc_txs.append({'height': int(tx['height']),
                        'sender': message['sender'],
                        'denom': message['token']['denom'],
                        'amount': message['token']['amount']})

ibc_tx_df = pd.DataFrame(ibc_txs)
ibc_tx_df

,height,sender,denom,amount
0,4707357,osmo10k0qxqh39fwk2khv49g0n673kfqwe778f09ffg,ibc/67C89B8B0A70C08F093C909A4DD996DD10E0494C87...,740090042
1,4707390,osmo1wy0qnu62k4qx8kfvc2q6n76cxnxgpgmqcyqsnu,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,104843451
2,4707409,osmo1pq7mnp9wk5mzeus9gz047ajalzcl2q7pvey5j4,ibc/46B44899322F3CD854D2D46DEEF881958467CDD4B3...,12266874
3,4707437,osmo15xd8465ylem38zkerjc8vn04h00n9zwurukg99,ibc/46B44899322F3CD854D2D46DEEF881958467CDD4B3...,5458532
4,4707444,osmo1ssxqvhz3datp0apqkf4tkyjm95qesd4dx6w7mp,ibc/46B44899322F3CD854D2D46DEEF881958467CDD4B3...,13254051
...,...,...,...,...
469,4713031,osmo1hq8tlgq0kqz9e56532zghdhz7g8gtjymdltqer,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,11920882683
470,4713040,osmo1v44mqmhvtn8cw373xv0hw6npddccnr70lqsk9s,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,1191266062
471,4713054,osmo1pfpk6rsgc0x7g8q7y0yre86ej2enr8rhv3p8dq,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,57278998
472,4713054,osmo1hq8tlgq0kqz9e56532zghdhz7g8gtjymdltqer,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,14846717409
473,4713056,osmo1v44mqmhvtn8cw373xv0hw6npddccnr70lqsk9s,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,10196881826

In [29]:
first_ibc_token = (pool_transactions.loc[pool_transactions.type == 'Exit']
                                    .drop(columns=['token_2_denom', 'token_2_amount'])
                                    .rename(columns={'token_1_denom':'denom', 'token_1_amount': 'amount'}))
second_ibc_token = (pool_transactions.loc[pool_transactions.type == 'Exit']
                                     .drop(columns=['token_1_denom', 'token_1_amount'])
                                     .rename(columns={'token_2_denom':'denom', 'token_2_amount': 'amount'}))

flat_ibc_txs = pd.concat([first_ibc_token, second_ibc_token])
flat_ibc_txs.amount = flat_ibc_txs.amount.astype(float)
flat_ibc_txs.shares = flat_ibc_txs.shares.astype(float)

In [30]:
# ToDo: This code should use a rolling sum of exit/join net tx gains.
# This allows proper calculation for a situation where:
# Wallet A puts 5 Atoms into pool 1 and exits w/ 10 Atoms.
# User A then IBCs 15 Atoms from Osmosis to Cosmos.
# They have only gained 5 Atoms from the exploit.
first_exit = (flat_ibc_txs.groupby(['sender', 'denom'])['height']
                          .min())

ibc_exit_df = ibc_tx_df.merge(first_exit, on=['sender', 'denom'], suffixes=['', '_exit'])
potential_ibc_outs = ibc_exit_df.loc[ibc_exit_df.height > ibc_exit_df.height_exit]
potential_ibc_outs

,height,sender,denom,amount,height_exit
0,4707390,osmo1wy0qnu62k4qx8kfvc2q6n76cxnxgpgmqcyqsnu,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,104843451,4707366
1,4707437,osmo15xd8465ylem38zkerjc8vn04h00n9zwurukg99,ibc/46B44899322F3CD854D2D46DEEF881958467CDD4B3...,5458532,4707424
2,4707444,osmo1ssxqvhz3datp0apqkf4tkyjm95qesd4dx6w7mp,ibc/46B44899322F3CD854D2D46DEEF881958467CDD4B3...,13254051,4707426
3,4707450,osmo1ssxqvhz3datp0apqkf4tkyjm95qesd4dx6w7mp,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,5345166,4707426
4,4707491,osmo17d6eypvgf9p8cqfvfdpm5wldjlglvhz89ext68,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,83423321,4707470
...,...,...,...,...,...
194,4712912,osmo1rejv949h6k78u7fyeudv3lqgveqpfr0du2nwlq,ibc/0954E1C28EB7AF5B72D24F3BC2B47BBB2FDF91BDDF...,23281644,4712884
195,4712963,osmo174wunrwwq7rfxq363lg62vxnv0h5lzaqg7q00g,ibc/46B44899322F3CD854D2D46DEEF881958467CDD4B3...,13241696,4712930
196,4712966,osmo174wunrwwq7rfxq363lg62vxnv0h5lzaqg7q00g,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,3077206,4712930
197,4713022,osmo1jdh7eeyaar0tyask0r6w2228uh5wrd0pxtcfwr,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,1000000000,4712995
198,4713027,osmo1jdh7eeyaar0tyask0r6w2228uh5wrd0pxtcfwr,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,6000000000,4712995

In [31]:
named_ibc_txs = token_map_df.merge(potential_ibc_outs)
named_ibc_txs['amount'] = named_ibc_txs.amount.astype(float)/(10**named_ibc_txs.exponent)
named_ibc_txs = named_ibc_txs.merge(halt_price_df)
named_ibc_txs['value'] = named_ibc_txs.price * named_ibc_txs.amount
cleaned_ibc_df = named_ibc_txs.drop(columns=['denom', 'exponent']) # , 'height_exit'])
cleaned_ibc_df

,symbol,height,sender,amount,height_exit,price,value
0,SCRT,4707951,osmo1lsjl0d36musly00s4d68yqe0ndszx5x9ldd4l6,1.487206,4707910,1.303759,1.938959
1,SCRT,4710238,osmo1lytkaq224pneqhqj5em70tkldrz76st8grxa5j,41.791977,4710166,1.303759,54.486686
2,SCRT,4711595,osmo1wfyaqhxsczc4mlgk54trxznmqkld09p79phzqn,139.899181,4711590,1.303759,182.394883
3,SCRT,4711662,osmo13f0eg9yxkckz45fw0dsaxzejpldld6vpmmp7j7,100.000000,4711579,1.303759,130.375947
4,SCRT,4712912,osmo1rejv949h6k78u7fyeudv3lqgveqpfr0du2nwlq,23.281644,4712884,1.303759,30.353664
...,...,...,...,...,...,...,...
166,CMDX,4711616,osmo1wfyaqhxsczc4mlgk54trxznmqkld09p79phzqn,719.521577,4711575,0.344374,247.784343
167,MARBLE,4708131,osmo149knvmjayx979n9ugg8uugpnnw34p2hxkrg06x,0.381000,4708058,5.896002,2.246377
168,OSMO,4708910,osmo1a944h7gug7r2ad9l2usdm8zmm0mmxak9r0ltvj,5.130494,4708891,1.118108,5.736447
169,OSMO,4708938,osmo1dnnl0pj4pruwlkkp6gsguhfh88e492jgfxj4mq,49.000000,4708832,1.118108,54.787298
170,OSMO,4712829,osmo1jl73mvf0zjv7rwg79s8ng9xdlql8c06mk8z4pd,5.000000,4712799,1.118108,5.590541

In [32]:
agg_ibc_value = cleaned_ibc_df['value'].sum()
agg_ibc_value

2849351.3780852007

In [33]:
agg_ibc_sender_tokens = (cleaned_ibc_df.groupby(['sender', 'symbol'])[['amount', 'value']]
                                       .sum()
                                       .reset_index()
                                       .sort_values(by=['value'], ascending=False))

agg_ibc_sender_tokens.to_csv("data/agg_ibc_sender_tokens.csv", index=False)
agg_ibc_sender_tokens

,sender,symbol,amount,value
28,osmo18qx59wy8s3ytax3e0akna934e86mw776vlzjtq,ATOM,289526.954482,2.727304e+06
59,osmo1jdh7eeyaar0tyask0r6w2228uh5wrd0pxtcfwr,ATOM,7000.000000,6.593903e+04
11,osmo13kj8rk8glvc5c0xftcmm2n8l6m8ep0yrk9xzk4,ATOM,627.339624,5.909453e+03
134,osmo1z4v55tku262akr660zv0s7e6f4hghya5c2rcla,ATOM,598.796278,5.640578e+03
4,osmo129xvhtfhplpul2tgqy9ufm40u62667f0qxgmw2,ATOM,556.478918,5.241955e+03
...,...,...,...,...
35,osmo1cw73elmtjvzg4gjdy9yv7hu6nnfl8m7z4ah5wl,EVMOS,0.229669,4.177784e-01
92,osmo1r943fkjkccw85rsnvvvm3q3f2svauvlzczc755,LIKE,159.219018,3.916530e-01
78,osmo1nvn4sfc3r2d69c7v0j9v7ak87xepz9q59a6ug0,MNTL,2.602531,2.447120e-01
34,osmo1crykcdaxm3u4flnjxq0kmyye7uqy9tcesac6u2,ATOM,0.004700,4.427335e-02
47,osmo1dxh7d7fuvjy43e0557mx6wwe4luyc0s2z0jfec,MNTL,0.001909,1.795003e-04

In [34]:
agg_ibc_senders = (cleaned_ibc_df.groupby(['sender'])[['value']]
                                 .sum()
                                 .reset_index()
                                 .sort_values(by=['value'], ascending=False))
agg_ibc_senders.to_csv("data/agg_ibc_senders.csv", index=False)
agg_ibc_senders

                                         sender         value
22  osmo18qx59wy8s3ytax3e0akna934e86mw776vlzjtq  2.727304e+06
47  osmo1jdh7eeyaar0tyask0r6w2228uh5wrd0pxtcfwr  6.593903e+04
8   osmo13kj8rk8glvc5c0xftcmm2n8l6m8ep0yrk9xzk4  5.909453e+03
4   osmo129xvhtfhplpul2tgqy9ufm40u62667f0qxgmw2  5.699075e+03
92  osmo1z4v55tku262akr660zv0s7e6f4hghya5c2rcla  5.640578e+03
..                                          ...           ...
82  osmo1wu2rp75wqnh82wu3peh9ftqv36e030vj8lfq9d  1.615403e+00
36  osmo1dxh7d7fuvjy43e0557mx6wwe4luyc0s2z0jfec  1.328672e+00
24  osmo19lexqfkg95hn8ffe2qyxl3404vr2t6uvj6xp8q  1.197264e+00
29  osmo1cw73elmtjvzg4gjdy9yv7hu6nnfl8m7z4ah5wl  4.177784e-01
28  osmo1crykcdaxm3u4flnjxq0kmyye7uqy9tcesac6u2  4.427335e-02

[93 rows x 2 columns]

In [35]:
agg_ibc_tokens = (cleaned_ibc_df.groupby(['symbol'])[['amount', 'value']]
                                  .sum()
                                  .reset_index()
                                  .sort_values(by=['value'], ascending=False))
agg_ibc_tokens.to_csv("data/agg_ibc_tokens.csv", index=False)
agg_ibc_tokens

     symbol         amount         value
1      ATOM  300712.737775  2.832672e+06
10     JUNO    2941.999619  1.098661e+04
5       CRO    8649.585708  1.538829e+03
26  axlUSDC    1224.640500  1.224641e+03
22    STARS   20322.231481  6.523080e+02
23     UMEE   17399.000000  5.289179e+02
20     SCRT     306.460008  3.995501e+02
7     EVMOS     211.315605  3.843935e+02
4      CMDX     971.694614  3.346261e+02
27  axlUSDT     107.321200  1.013396e+02
25  axlFRAX     122.320600  1.002970e+02
15     NETA       1.113124  6.928229e+01
17     OSMO      59.130494  6.611429e+01
21     SOMM     125.000000  6.016200e+01
2      BTSG    2930.186516  4.887723e+01
18      RAC     481.144398  3.595155e+01
16      NGM      47.914852  3.315673e+01
9    HUAHUA  483364.890489  2.267746e+01
24     XPRT      15.237735  2.105276e+01
8      GRAV    1300.000000  1.582590e+01
14     MNTL     155.572219  1.462822e+01
0       AKT      28.027545  9.787999e+00
6      DARC    3349.434187  9.365870e+00
11     LIKE    3001.871747  7.384118e+00
19    REGEN      10.000000  3.206072e+00
28    gUSDC       3.067358  3.091484e+00
3      CHEQ      77.485294  3.061749e+00
13   MARBLE       0.381000  2.246377e+00
12      LUM    1127.600017  1.536486e+00

## Assets Impacted by Osmosis (Exit Only Txs)

Wallets that exited from a pool after a join_pool txs has impacted the number of assets associated w/ their shares.

For this data we will omit users who exit a pool after joining one. The focus is simply users who only exited pools today after share numbers were modified by the bug. Due to the nature of GAMM Shares, this data cannot be aggregated. A share at height 1 is not equal to a share at height 3, they represent different percentages of equity in the pool.

In [36]:
impacted_exit_txs = []
for pool_id, grouped_txs in pool_transactions.sort_values(by=['height']).groupby(['pool_id']):
    shares_joined = 0.0

    for _, tx_info in grouped_txs.iterrows():
        if tx_info.type == 'Join':
            shares_joined += float(tx_info.shares)
        elif tx_info.type == 'Exit':
            # ToDo consider accounting for exits on the shares_joined impact.
            # If this number goes negative, how do we handle that?
            # shares_joined -= float(tx_info.shares)
            impacted_exit_txs.append([*tx_info.values, shares_joined])

impacted_txs = pd.DataFrame(impacted_exit_txs, columns=[*pool_transactions.columns.values, "share_impact_amount"])

In [37]:
exit_only_impact = impacted_txs.loc[
    ~np.isin(impacted_txs.sender,
             raw_transactions.loc[raw_transactions.type == 'Join'].sender
                                                                  .unique())
]
exit_only_impact.to_csv("data/exit_only_txs.csv", index=False)
exit_only_impact

,height,code,sender,type,pool_id,shares,token_1_amount,token_1_denom,token_2_amount,token_2_denom,share_impact_amount
0,4707364,0,osmo1q5cv296zedshm3eggg9ps90jx3fhad55ndxwrw,Exit,1,762250296963882503058,10092351,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,78570405,uosmo,0.000000e+00
1,4707366,0,osmo1wy0qnu62k4qx8kfvc2q6n76cxnxgpgmqcyqsnu,Exit,1,3854955715204338946616,51041171,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,397351015,uosmo,0.000000e+00
2,4707470,0,osmo17d6eypvgf9p8cqfvfdpm5wldjlglvhz89ext68,Exit,1,191723333654131736677,2538297,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,19763481,uosmo,3.339650e+20
3,4707671,0,osmo18vln3u6et46gekr8wr2j9lexnhu52xce3qa05k,Exit,1,487754098894285822676,6448472,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,50350358,uosmo,3.589182e+20
4,4707802,0,osmo1z4v55tku262akr660zv0s7e6f4hghya5c2rcla,Exit,1,39439372041905503811061,521490228,ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEAD...,4070712548,uosmo,1.557362e+21
...,...,...,...,...,...,...,...,...,...,...,...
819,4712771,0,osmo1za2zsg54554pvtpvxl0nz5uztnmhfncu5vtfrv,Exit,722,21697584928749,2392614890101,ibc/6AE98883D4D5D5FF9E50D7130F1305DA2FFA0C652D...,2,uosmo,1.743550e+22
820,4712803,0,osmo1lhxpf027r3cje4aa5zc3c29synvj2ldyllxf6s,Exit,722,4415781661148879007,487062506811169102,ibc/6AE98883D4D5D5FF9E50D7130F1305DA2FFA0C652D...,792703,uosmo,1.743550e+22
821,4712819,0,osmo1lhxpf027r3cje4aa5zc3c29synvj2ldyllxf6s,Exit,722,2205903500523339126,243332370690086235,ibc/6AE98883D4D5D5FF9E50D7130F1305DA2FFA0C652D...,395962,uosmo,1.743550e+22
824,4712959,0,osmo1za2zsg54554pvtpvxl0nz5uztnmhfncu5vtfrv,Exit,722,92174161906997,10148643193001,ibc/6AE98883D4D5D5FF9E50D7130F1305DA2FFA0C652D...,16,uosmo,1.747896e+22
831,4708520,0,osmo1ymvkf7cm8ls4pn0wcx4avcludmu6udrlmlyje4,Exit,730,2210227125590110917,1941804,ibc/57AA1A70A4BC9769C525EBF6386F7A21536E04A79D...,4586783,uosmo,0.000000e+00

In [38]:
first_exit_token = (exit_only_impact.drop(columns=['token_2_denom', 'token_2_amount'])
                                    .rename(columns={'token_1_denom':'denom', 'token_1_amount': 'amount'}))
second_exit_token = (exit_only_impact.drop(columns=['token_1_denom', 'token_1_amount'])
                                     .rename(columns={'token_2_denom':'denom', 'token_2_amount': 'amount'}))

flat_exit_txs = pd.concat([first_exit_token, second_exit_token])
flat_exit_txs.amount = flat_exit_txs.amount.astype(float)
flat_exit_txs.shares = flat_exit_txs.shares.astype(float, copy=False)

In [39]:
named_exit_txs = token_map_df.merge(flat_exit_txs)
named_exit_txs['amount'] = named_exit_txs.amount/(10**named_exit_txs.exponent)
named_exit_txs = named_exit_txs.merge(halt_price_df)
named_exit_txs['value'] = named_exit_txs.price * named_exit_txs.amount
cleaned_exit_df = named_exit_txs.drop(columns=['denom', 'exponent'])

In [40]:
agg_exit_value = cleaned_exit_df['value'].sum()
agg_exit_value

208958.86335578666

In [41]:
agg_exit_sender_tokens = (cleaned_exit_df.groupby(['sender', 'symbol'])[['amount', 'value']]
                                         .sum()
                                         .reset_index()
                                         .sort_values(by=['value'], ascending=False))

agg_exit_sender_tokens.to_csv("data/agg_exit_sender_tokens.csv", index=False)
agg_exit_sender_tokens

,sender,symbol,amount,value
23,osmo10xnqv49h7hh0gfspl7pq6w5nfqtkvj4rxzhel9,OSMO,20642.359785,23080.390298
22,osmo10xnqv49h7hh0gfspl7pq6w5nfqtkvj4rxzhel9,ATOM,1939.763062,18272.300129
540,osmo1tepmnj43qy30t3aa0e9vfgllw6xjer382d55hy,axlUSDC,6563.001735,6563.001794
539,osmo1tepmnj43qy30t3aa0e9vfgllw6xjer382d55hy,OSMO,5799.579858,6484.557390
24,osmo10xnqv49h7hh0gfspl7pq6w5nfqtkvj4rxzhel9,axlUSDC,6159.192479,6159.192535
...,...,...,...,...
698,osmo1za2zsg54554pvtpvxl0nz5uztnmhfncu5vtfrv,OSMO,0.000057,0.000064
697,osmo1za2zsg54554pvtpvxl0nz5uztnmhfncu5vtfrv,EVMOS,0.000029,0.000053
50,osmo12s6hx9j7f8lazzhv3cps2l57rhkae0llqk0lcv,LUNA,0.274837,0.000013
51,osmo12s6hx9j7f8lazzhv3cps2l57rhkae0llqk0lcv,OSMO,0.000010,0.000011
696,osmo1za2zsg54554pvtpvxl0nz5uztnmhfncu5vtfrv,ATOM,0.000001,0.000009

In [42]:
agg_exit_senders = (cleaned_exit_df.groupby(['sender'])[['value']]
                                   .sum()
                                   .reset_index()
                                   .sort_values(by=['value'], ascending=False))
agg_exit_senders.to_csv("data/agg_exit_senders.csv", index=False)
agg_exit_senders

                                          sender         value
11   osmo10xnqv49h7hh0gfspl7pq6w5nfqtkvj4rxzhel9  47511.882961
224  osmo1tepmnj43qy30t3aa0e9vfgllw6xjer382d55hy  13047.559184
79   osmo192n69zgxvue8kjmqa5zaa5rdkysfkzwqluyre2  11285.414564
287  osmo1z4v55tku262akr660zv0s7e6f4hghya5c2rcla   9463.862716
114  osmo1dqgam0gwfegzlz37cpdd6plr49dtkus9s5ak9u   8653.846885
..                                           ...           ...
186  osmo1nu0m3gdx79yea4tmykl3zjhq9devg6hxh84rsp      0.007114
171  osmo1m5rwy9p40m7wsgyg07x5t9yjauh6yhf74p4ukc      0.004236
289  osmo1zg4cwm5j3keugcmprr9j67433kn9m46tp7p7x4      0.002099
288  osmo1za2zsg54554pvtpvxl0nz5uztnmhfncu5vtfrv      0.000126
23   osmo12s6hx9j7f8lazzhv3cps2l57rhkae0llqk0lcv      0.000025

[295 rows x 2 columns]

In [43]:
agg_exit_tokens = (cleaned_exit_df.groupby(['symbol'])[['amount', 'value']]
                                  .sum()
                                  .reset_index()
                                  .sort_values(by=['value'], ascending=False))
agg_exit_tokens.to_csv("data/agg_exit_tokens.csv", index=False)
agg_exit_tokens

     symbol        amount         value
25     OSMO  8.310742e+04  92923.079362
1      ATOM  6.055031e+03  57037.557881
41  axlUSDC  1.788929e+04  17889.290327
17     JUNO  3.165565e+03  11821.494638
44  axlWETH  4.814597e+00   8774.549613
39   axlDAI  4.280088e+03   4258.775423
29    ROWAN  3.416113e+05   3872.669501
22      MED  7.784889e+04   2204.725199
7       CRO  1.126432e+04   2004.009783
32    STARS  3.609664e+04   1158.638840
36      UST  1.292816e+05   1120.096827
12     EEUR  1.067610e+03   1082.191662
43  axlWBTC  2.809063e-02    871.279874
38     XPRT  5.626388e+02    777.353087
5      CMDX  2.252584e+03    775.730686
30     SCRT  3.726657e+02    485.866379
35     UMEE  1.014260e+04    308.328261
31     SOMM  4.575393e+02    220.211844
16      ION  2.001080e-01    180.345652
3      BTSG  1.000361e+04    166.866156
42  axlUSDT  1.642263e+02    155.073116
40  axlFRAX  1.873932e+02    153.653435
24     NETA  2.468141e+00    153.620314
23     MNTL  1.097282e+03    103.175705
20     LUNA  1.607397e+06     78.126170
10      DSM  3.044986e+03     63.653212
11     DVPN  3.496390e+04     50.020430
13    EVMOS  2.733525e+01     49.724171
14     GRAV  3.152999e+03     38.383888
15   HUAHUA  6.128070e+05     28.750343
26   PSTAKE  1.213041e+02     25.140704
33     SWTH  4.440055e+03     22.816664
0       AKT  6.191265e+01     21.621622
2      BCNA  1.440097e+03     20.576426
37      XKI  1.974398e+02     15.529798
18     LIKE  4.758505e+03     11.705151
27      RAC  1.437460e+02     10.740832
28    REGEN  3.167105e+01     10.153965
6    CRBRUS  3.744265e+05      3.478975
4      CHEQ  7.223585e+01      2.854323
21   MARBLE  3.710000e-01      2.187417
34     TICK  4.653663e+00      1.874202
19      LUM  1.182197e+03      1.610880
8      DARC  3.913040e+02      1.094186
9       DEC  1.591093e+01      0.236431

In [44]:
agg_exit_pools = (cleaned_exit_df.groupby(['pool_id', 'symbol'])[['amount', 'value']]
                                 .sum()
                                 .reset_index()
                                 .sort_values(by=['value'], ascending=False))
agg_exit_pools.to_csv("data/agg_exit_pools.csv", index=False)
agg_exit_pools

     pool_id   symbol        amount         value
0          1     ATOM   5133.518839  48357.038435
1          1     OSMO  40313.040882  45074.338755
115      678  axlUSDC  17860.767858  17860.768019
114      678     OSMO  15750.538618  17610.805281
24       497     JUNO   2471.950023   9231.257440
..       ...      ...           ...           ...
80       616     ATOM      0.006312      0.059458
81       616      LUM     40.818371      0.055620
63       597     OSMO      0.011048      0.012353
109      662     OSMO      0.005023      0.005616
108      662   CRBRUS    601.784783      0.005591

[129 rows x 4 columns]